:host {
  background-color: bisque;
}

.cocktailCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.cocktailCard button {
  padding: 0.5em 1em;
}
